# binary files
bin*/
build*/

*.pyc

# QtCreator files
*.user

# mac madness
*.DS_Store

# my keys
scripts/data-conversion/tweet_config.py
scripts/data-conversion/*.config

# Clang files
.clang_complete

# precompiled header files
*.pch
